<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinming.travelapp.mapper.TriphotelMapper">
  <resultMap id="BaseResultMap" type="com.pinming.travelapp.pojo.Triphotel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hotelname" jdbcType="VARCHAR" property="hotelname" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="imgUrl" jdbcType="VARCHAR" property="imgurl" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pinming.travelapp.pojo.Triphotel">
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hotelname, price, address, imgUrl
  </sql>
  <sql id="Blob_Column_List">
    detail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_c_triphotel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_c_triphotel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pinming.travelapp.pojo.Triphotel">
    insert into t_c_triphotel (id, hotelname, price, 
      address, imgUrl, detail
      )
    values (#{id,jdbcType=INTEGER}, #{hotelname,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}, #{detail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinming.travelapp.pojo.Triphotel">
    insert into t_c_triphotel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hotelname != null">
        hotelname,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="imgurl != null">
        imgUrl,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hotelname != null">
        #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinming.travelapp.pojo.Triphotel">
    update t_c_triphotel
    <set>
      <if test="hotelname != null">
        hotelname = #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null">
        imgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinming.travelapp.pojo.Triphotel">
    update t_c_triphotel
    set hotelname = #{hotelname,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinming.travelapp.pojo.Triphotel">
    update t_c_triphotel
    set hotelname = #{hotelname,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>