<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinming.travelapp.mapper.HoststoryMapper">
  <resultMap id="BaseResultMap" type="com.pinming.travelapp.pojo.Hoststory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="homename" jdbcType="VARCHAR" property="homename" />
    <result column="imgUrl" jdbcType="VARCHAR" property="imgurl" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="like" jdbcType="VARCHAR" property="like" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pinming.travelapp.pojo.Hoststory">
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    id, homename, imgUrl, date, like, comment
  </sql>
  <sql id="Blob_Column_List">
    detail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_c_hoststory
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_c_hoststory
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pinming.travelapp.pojo.Hoststory">
    insert into t_c_hoststory (id, homename, imgUrl, 
      date, like, comment, detail
      )
    values (#{id,jdbcType=INTEGER}, #{homename,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}, 
      #{date,jdbcType=DATE}, #{like,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, #{detail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pinming.travelapp.pojo.Hoststory">
    insert into t_c_hoststory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="homename != null">
        homename,
      </if>
      <if test="imgurl != null">
        imgUrl,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="like != null">
        like,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="homename != null">
        #{homename,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="like != null">
        #{like,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pinming.travelapp.pojo.Hoststory">
    update t_c_hoststory
    <set>
      <if test="homename != null">
        homename = #{homename,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null">
        imgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="like != null">
        like = #{like,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pinming.travelapp.pojo.Hoststory">
    update t_c_hoststory
    set homename = #{homename,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      like = #{like,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pinming.travelapp.pojo.Hoststory">
    update t_c_hoststory
    set homename = #{homename,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      like = #{like,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>