<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinming.travelapp.mapper.HotelMapper">



    <resultMap id="BaseResultMap" type="com.pinming.travelapp.pojo.HotelDetail">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="hotelname" jdbcType="VARCHAR" property="hotelname" />
        <result column="hotelid" jdbcType="INTEGER" property="hotelid" />
        <result column="hotelprice" jdbcType="INTEGER" property="hotelprice" />
        <result column="count" jdbcType="INTEGER" property="count" />
        <result column="imgpath" jdbcType="VARCHAR" property="imgpath" />
        <result column="detail" jdbcType="VARCHAR" property="detail" />
        <result column="starttime" jdbcType="DATE" property="starttime" />
        <result column="stoptime" jdbcType="DATE" property="stoptime" />
    </resultMap>

    <sql id="hotelSql">
        SELECT * FROM t_hoteldetail_z hd INNER JOIN t_hoteltype_z h on hd.hotelid = h.id
    </sql>

    <sql id="whereSql">
        <where>
            <if test="address"></if>
        </where>
    </sql>

    <select id="findHotel" resultType="com.pinming.travelapp.pojo.HotelDetail">

    </select>

</mapper>