<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinming.travelapp.mapper.SetportMapper">

  <resultMap id="BaseResultMap" type="com.pinming.travelapp.pojo.Setport">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="settype" jdbcType="VARCHAR" property="settype" />
  </resultMap>
  <sql id="Base_Column_List">
    id, settype
  </sql>
  <select id="findSet" resultType="com.pinming.travelapp.pojo.Setport">
    select * from t_setport
  </select>
  <select id="findByUname" resultType="com.pinming.travelapp.pojo.User">
    select img username, sex,tel,birthday,IDcard,place,city,email from user where username=#{username}
  </select>
    <select id="findByUid" parameterType="int" resultType="com.pinming.travelapp.pojo.User">
    select * from user where id=#{id}
  </select>

    <update id="updateUser" parameterType="com.pinming.travelapp.pojo.User">
    update user set img=#{img}, username=#{username},sex=#{sex},tel=#{tel},birthday=#{birthday},idcard=#{idcard},place=#{place},city=#{city},email=#{email} where id=#{id}
  </update>
  <select id="findAdds" resultType="com.pinming.travelapp.pojo.Takeadds">
    select * from t_takeadds
  </select>
  <insert id="addAdds"  parameterType="takeadds" >
    insert into t_takeadds values (null, #{name},#{phone},#{area}, #{areaCode},#{detailadds})
  </insert>
 <delete id="delectAddr" parameterType="int">
   delete  from t_takeadds where id=#{id}
 </delete>

  <select id="findById" parameterType="int" resultType="takeadds">
    select * from t_takeadds where id=#{id}
  </select>

  <update id="update" parameterType="takeadds">
    update t_takeadds set name=#{name},phone=#{phone},area=#{area},areaCode=#{areaCode},detailadds=#{detailadds} where id=#{id}
  </update>
</mapper>