<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinming.travelapp.mapper.TriphotelMapper">
   <select id="findByIndexAndSize" resultType="com.pinming.travelapp.pojo.Triphotel" parameterType="map">
        select * from t_c_triphotel
   </select>

    <select id="count" parameterType="map" resultType="int">
        select count(*) from t_c_triphotel
    </select>

    <select id="findById" resultType="com.pinming.travelapp.pojo.Triphotel" parameterType="int">
        select * from t_c_triphotel where id=#{id}
    </select>

    <select id="selectByCity" resultType="map" parameterType="string">
        select * from t_c_triphotel order by convert( city  using gbk) asc
    </select>

    <select id="selectByCityDesc" resultType="map" parameterType="string">
       select * from t_c_triphotel order by convert( city  using gbk) desc
    </select>
</mapper>